<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Materialize CSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Fontawesome 6 CND-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <nav class="orange darken-2">
        <div class="nav-wrapper"></div>
      </nav>

      <div class="container">
        <div v-show="exibir.lista" class="section task-list">
          <div class="row">
            <div class="col s12">
              <input type="text" class="search" placeholder="Pesquisar tarefa..." name="pesquisar">
            </div>
          </div>
          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12">
              <!-- New tasks area-->
              <ul class="collection">
                <li v-for="task in tasks" class="collection-item">
                  <h5>{{ task.title }} <span class="task-badge right-align">{{ task.project }}</span></h5>
                  
                  <p>
                    <button @click="mostrarTarefa(task.id)" class="waves-effect waves-light btn-small">Editar</button>
                    <button @click="mostrarTarefaExcluir(task.id)" class="waves-effect waves-light btn-small">Excluir</button>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- FORM DE TAREFA -->
        <div v-show="exibir.forms" class="section task-add">
          <h2>{{ form.cabecalho }}</h2>
          <div class="row">
            <div class="input-field col s12">
              <input
                placeholder="Entre com uma tarefa"
                id="title"
                type="text"
                class="validate"
                v-model="form.title"
                :disabled="form.btn == 'Excluir'"
              />
              <label for="title">Tarefa</label>
            </div>
            <div class="input-field col s6">
              <input
                placeholder="Entre com um projeto"
                id="project"
                type="text"
                class="validate"
                v-model="form.project"
                :list="'projectsList'"
                :disabled="form.btn == 'Excluir'"
              />
              <label for="project">Project</label>
              <datalist id="projectsList">
                <option v-for="p in projects" :value="p.project"></option>
              </datalist>
            </div>
            <div class="input-field col s6">
              <input type="text" class="datepicker" v-model="form.date" :disabled="form.btn == 'Excluir'"/>
              <label for="date">Data Vencimento</label>
            </div>
            <div class="col s12">
              <button v-if="form.btn =='Adicionar'" @click="salvarNovaTarefa" class="btn waves-effect waves-light" type="submit" name="action">{{ form.btn }}</button>
              <button v-else-if="form.btn == 'Excluir'" @click="excluirTarefa(form.id)" class="btn waves-effect waves-light" type="submit" name="action">{{ form.btn }}</button>
              <button v-else @click="salvarTarefa(form.id)" class="btn waves-effect waves-light" type="submit" name="action">{{ form.btn }}</button>
            </div>
          </div>
        </div>   
        <!-- FIM ADD-->
        <div class="add" v-show="!exibir.forms">
          <button
            class="btn-floating btn-large waves-effect waves-light red"
            @click="mostrarNovaTarefa"
            ><i class="fa-solid fa-plus"></i
          ></button>
        </div>
      </div>
    </div>

    <!-- Materialize JavaScript CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Axios API -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
      integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- TODO APP -->
    <script src="./js/tasksapi.js"></script>
    <script src="./js/projectsapi.js"></script>
    <script src="./js/appvue.js"></script>

    <script>
      
      document.addEventListener("DOMContentLoaded", function () {
        // Inicializa Datas
        var elems = document.querySelectorAll(".datepicker");
        var instances = M.Datepicker.init(elems, {
          format: "dd/mm/yyyy",
        });
      });

    </script>
  </body>
</html>
